<nav>
    <div class="nav-wrapper">
        <a href="#" data-activates="mobile-demo" class="button-collapse orange-text text-darken-2"><span class="fa fa-bars" aria-hidden="true"></span></a>
        <ul class="hide-on-med-and-down" id="sm-nav">
            <li>
                <a routerLink="welcome" routerLinkActive="link-active" class="orange-text text-darken-2">
                    <span class="fa fa-home" aria-hidden="true"></span>
                </a>
            </li>
            <li>
                <a routerLink="basic-data" routerLinkActive="link-active" class="orange-text text-darken-2">
                    <span class="fa fa-list-alt" aria-hidden="true"></span>
                </a>
            </li>
            <li>
                <a routerLink="consent" routerLinkActive="link-active" class="orange-text text-darken-2">
                    <span class="fa fa-check-square-o" aria-hidden="true"></span>
                </a>
            </li>
            <li>
                <a routerLink="scan-dni" routerLinkActive="link-active" class="orange-text text-darken-2">
                    <span class="fa fa-id-card" aria-hidden="true"></span>
                </a>
            </li>
            <li>
                <a routerLink="record" routerLinkActive="link-active" class="orange-text text-darken-2">
                    <span class="fa fa-video-camera" aria-hidden="true"></span>
                </a>
            </li>
            <li>
                <a routerLink="complete-data" routerLinkActive="link-active" class="orange-text text-darken-2">
                    <span class="fa fa-address-card" aria-hidden="true"></span>
                </a>
            </li>
            <li>
                <a routerLink="finish" routerLinkActive="link-active" class="orange-text text-darken-2">
                    <span class="fa fa-circle-o-notch" aria-hidden="true"></span>
                </a>
            </li>
        </ul>
        <ul class="side-nav" id="mobile-demo">
            <li>
                <a routerLink="welcome" routerLinkActive="link-active" class="orange-text text-darken-2">
                    <span class="fa fa-home" aria-hidden="true"></span>
                </a>
            </li>
            <li>
                <a routerLink="basic-data" routerLinkActive="link-active" class="orange-text text-darken-2">
                    <span class="fa fa-list-alt" aria-hidden="true"></span>
                </a>
            </li>
            <li>
                <a routerLink="consent" routerLinkActive="link-active" class="orange-text text-darken-2">
                    <span class="fa fa-check-square-o" aria-hidden="true"></span>
                </a>
            </li>
            <li>
                <a routerLink="scan-dni" routerLinkActive="link-active" class="orange-text text-darken-2">
                    <span class="fa fa-id-card" aria-hidden="true"></span>
                </a>
            </li>
            <li>
                <a routerLink="record" routerLinkActive="link-active" class="orange-text text-darken-2">
                    <span class="fa fa-video-camera" aria-hidden="true"></span>
                </a>
            </li>
            <li>
                <a routerLink="omplete-data" routerLinkActive="link-active" class="orange-text text-darken-2">
                    <span class="fa fa-address-card" aria-hidden="true"></span>
                </a>
            </li>
            <li>
                <a routerLink="finish" routerLinkActive="link-active" class="orange-text text-darken-2">
                    <span class="fa fa-circle-o-notch" aria-hidden="true"></span>
                </a>
            </li>
        </ul>
    </div>
</nav>