nav>div {
    background-color: #fff;
}

a {
    font-size: 1.2em;
}

#sm-nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.link-active {
    border-bottom: 3px solid #37474f;
    margin-bottom: -3px;
    line-height: 61px;
}