<div>
    <div class="bg-top orange darken-4">

    </div>
    <div class="bg-bottom blue-grey darken-3">
        <div class="container">
            <header>
                <navbar></navbar>
            </header>
            <div class="card">
                <div class="card-content">
                    <div>
                        <router-outlet></router-outlet>
                    </div>
                </div>
                <div class="card-action">
                    <a (click)="prevPage()" class="waves-effect waves-light text-white btn orange darken-4 left" *ngIf="!isFirstPage()">
                        <span class="fa fa-long-arrow-left" aria-hidden="true"></span> Paso Anterior
                    </a>
                    <a (click)="nextPage()" class="waves-effect waves-light text-white btn orange darken-4 right" *ngIf="!isLastPage()">
                        Siguiente Paso <span class="fa fa-long-arrow-right " aria-hidden="true "></span> 
                    </a>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</div>