<div>
    <div class="bg-top orange darken-4">

    </div>
    <div class="bg-bottom blue-grey darken-3">
        <div class="container">
            <header>
                <navbar></navbar>
            </header>
            <div class="card">
                <div class="card-content">
                    <div>
                        <router-outlet></router-outlet>
                    </div>
                </div>
                <div class="card-action right-align">
                    <a routerLink="/welcome" class="waves-effect waves-light text-white btn orange darken-4"><span class="fa fa-long-arrow-left" aria-hidden="true"></span></a>
                    <a routerLink="/finish" class="waves-effect waves-light text-white btn orange darken-4"><span class="fa fa-long-arrow-right " aria-hidden="true "></span></a>
                </div>
            </div>
        </div>
    </div>
</div>