<div class="row">
    <form #escribirForm="ngForm" (ngSubmit)="submitBasicData(escribirForm)" class="col s12" no-validate>
        <div class="row">
            <div class="input-field col s6">
                <input placeholder="Placeholder" id="name" name="name" type="text" class="validate" ngModel #nameRef="ngModel" required maxlength="200">
                <label for="name">First Name</label>
                <div class="mensaje-error" *ngIf="nameRef.touched && nameRef.errors?.required">
                    El campo nombre es requerido
                </div>
                <div class="mensaje-error" *ngIf="nameRef.touched && nameRef.errors?.maxlength">
                    El campo nombre debe tener maximo {{nameRef.errors.maxlength.requiredLength}} letras
                </div>
            </div>
            <div class="input-field col s6">
                <input id="last_name" name="last_name" type="text" class="validate" ngModel #lastNameRef="ngModel" required maxlength="200">
                <label for="last_name">Last Name</label>
                <div class="mensaje-error" *ngIf="lastNameRef.touched && lastNameRef.errors?.required">
                    El campo nombre es requerido
                </div>
                <div class="mensaje-error" *ngIf="lastNameRef.touched && lastNameRef.errors?.maxlength">
                    El campo nombre debe tener maximo {{lastNameRef.errors.maxlength.requiredLength}} letras
                </div>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6">
                <input id="telephone" name="telephone" type="number" class="validate" ngModel #telephoneRef="ngModel" required maxlength="10">
                <label for="telephone">Telephone</label>
                <div class="mensaje-error" *ngIf="telephoneRef.touched && telephoneRef.errors?.required">
                    El campo telephone es requerido
                </div>
                <div class="mensaje-error" *ngIf="telephoneRef.touched && telephoneRef.errors?.maxlength">
                    El campo telephone debe tener maximo {{telephoneRef.errors.maxlength.requiredLength}} letras
                </div>

            </div>



            <div class="input-field col s6">
                <input id="email" type="email" name="email" ngModel #emailRef="ngModel" class="validate" pattern='^[a-z0-9._-]+@[a-z0-9.-]+\.[a-z]{2,3}$' required maxlength="100">
                <label for="email">Email</label>
                <div class="mensaje-error" *ngIf="emailRef.touched && emailRef.errors?.required">
                    El campo email es requerido
                </div>
                <div class="mensaje-error" *ngIf="emailRef.touched && emailRef.errors?.pattern">
                    El email debe tener la forma xxx@xx.xxx
                </div>
                <div class="mensaje-error" *ngIf="emailRef.touched && emailRef.errors?.maxlength">
                    El campo email debe tener maximo {{emaileRef.errors.maxlength.requiredLength}} letras
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12">

                <div class="input-field col s6">
                    <input id="email2" type="email" name="email2" ngModel #email2Ref="ngModel" class="validate">
                    <label for="email2">Email</label>
                    <div class="mensaje-error" *ngIf="email2Ref.touched && email2Ref.errors?.required">
                        El campo email es requerido
                    </div>
                    <div class="mensaje-error" *ngIf="email2Ref.touched && emailRef.value!==email2Ref.value">
                        El email debe ser el mismo
                    </div>

                </div>
            </div>
        </div>
        <button type="submit" class="button-primary u-pull-right" [disabled]="escribirForm.invalid && comprobarEmail( emailRef.value, email2Ref.value)">Register!</button>
    </form>
</div>